#DHTMLgoodies_formTooltipDiv{
	color:#FFFF;
	font-family:Trebuchet MS;
	font-weight:;
	font-size:12px;
	line-height:120%;
}
.DHTMLgoodies_formTooltip_closeMessage{
	color:#FFFF;
	font-weight:normal;
	font-size:10px;
}